body {
  padding-bottom: 200px;
  background-color: rgb(251, 251, 251);
}

main {
  margin-left: 200px;
  display: flex;
  justify-content: center;
}

.lateral-menu {
  background-color: white;
  position: fixed;
  top: 140px;
  left: 0;
  bottom: 0px;
  width: 180px;
  z-index: 3;
}

.products-grid {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  column-gap: 50px;
  row-gap: 40px;
  justify-self: center;
}

@media screen and (max-width: 540px) {
  .products-grid {
    grid-template-columns: 220px;
  }
  main {
    margin-left: 0px;
  }
  .lateral-menu {
    display: none;
  }
}

@media screen and (max-width: 760px) and (min-width: 541px) {
  .products-grid {
    grid-template-columns: 220px 220px;
  }
  main {
    margin-left: 0px;
  }
  .lateral-menu {
    display: none;
  }
}

@media screen and (max-width: 1024px) and (min-width: 761px) {
  .products-grid {
    grid-template-columns: 220px 220px;
  }

  main {
    margin-left: 140px;
  }
}

@media screen and (min-width: 1025px ) and (max-width: 1400px)  {
  .products-grid {
    grid-template-columns: 220px 220px 220px;
  }
}

.options-buttons {
  display: flex;
  justify-content: space-evenly;
}

.options-buttons button {
  background: transparent;
  border: none;
}

.options-buttons img {
  width: 34px;
  height: 34px;
  opacity: .6;
}