* {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

header {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
}

.top-menu {
  display: flex;
  justify-content: space-evenly;
  border-bottom: .5px solid rgba(0, 0, 0, .08);
  padding: 20px;
}

ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style-type: none;
}