*{
    box-sizing: border-box;
}

body
{
    font-family: 'Fira Sans', sans-serif;
    font-size: 13px;
    height: 100%;
    background-color: white;
}

a
{
    display: inline-block;
}

p{
    color:black;
}

header
{
    padding: 15px 0;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 2;
    background-color: #3aaed8;
}

header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo
{
    width: 300px;
}

header .container nav a
{
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

footer.seccion
{
    background-color: #3aaed8;
    color: white;
    padding-bottom: 0;
}

footer .barra-footer
{
    background-color: grey;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}


footer ul
{
    padding-left: 0;
    list-style: none;
}

footer ul li
{
    margin-bottom: 10px; 
    list-style: none; 
}

footer p
{
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

footer a
{
    color: white;
    text-decoration: none;
}

footer .redes
{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

footer .redes a
{
    margin: 0 7.5px;
}

.boton
{
    text-align: center;
    text-decoration: none;
    padding: 15px 20px;
    border: none;
}

.boton.boton-azul
{
    color: white;
    background-color: blue;
    font-size: 20px;
    font-weight: bold;
}

.boton.boton-verde
{
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.boton.boton-azulcielo
{
    color: white;
    background-color: #52aa5e;
    font-size: 20px;
    font-weight: bold;
}

.seccion
{
    padding: 60px;
    padding-bottom: 60px;
}

.container
{
    width: 1140px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}

.row
{
    display: flex;
    flex-wrap: wrap;
}

.columna
{
    padding-right: 15%;
    padding-left: 15%;
}


.columna-25
{
    width: 25%;

}

.columna-50
{
    width: 50%;
}

.empujar-50
{
    margin-left: 50%;
}

.empujar-0
{
    margin-left: 0;
}
#inicio
{
    position: relative;
}

#inicio img
{
    width: 100%;
    display: block;
}

#inicio .bloque-inicio
{
    position: absolute;
    top: 40%;
    font-weight:600;
    
}

#inicio .bloque-inicio h1
{
    color: black;
    font-size: 35px;
}

#inicio .bloque-inicio p
{
    color: black;
}

#nosotros
{
    background-image: url(img/medicinas.png);
    background-size: cover;
    color: white;
    text-align: center;
}

#nosotros p
{
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: #52aa5e;
    font-size: 16px;
}

#servicios .container
{
    column-count: 3;
    column-gap: 20px;
}

.imagen
{
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

.seccion
{
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #52aa5e;
}

#productos .container
{
    column-count: 3;
    column-gap: 10px;

}



.atencion
{
    display: block;
    margin-bottom: 30px;
    width: 100%;
}


#contactenos
{
    position: relative;
}

#contactenos iframe
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#contactenos form
{
    padding: 40px;
    background-color: green;
}

#contactenos form .form-block
{
    width: 100%;
    margin-bottom: 15px;
}

#contactenos form .form-block .form-control
{
    display: block;
    height: 40px;
    font-size: 16px;
    border: 1px solid grey;
    width: 100%;
    padding: 5px 10px;
}

